{% extends "base1.html" %} {% block content %}



<main class="mb-4">
  <div class="container">
    <div class="row">
      <!-- Adding Flash message here for users trying to register twice -->
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--Rendering login form here-->
        
<h2 class="text-center text-white bg-primary py-2 px-4 rounded shadow-sm">
  Work Flow
</h2>
<div class="container text-center my-5">
    <div class ="long-box">
      <!-- 10 Links in the long rectangular box -->
      <a href="{{url_for('add_data', num=0)}}" class="link-box">Material Receiver</a>
      <a href="{{url_for('add_data', num=1)}}" class="link-box">Visual Inspection</a>
      <a href="{{url_for('add_data', num=2)}}" class="link-box">Kapton Gluing</a>
      <a href="{{url_for('add_data', num=3)}}" class="link-box">HV Form</a>
      <a href="{{url_for('add_data', num=31)}}" class="link-box">IV Form</a>
      <a href="{{url_for('add_data', num=4)}}" class="link-box">Sensor Gluing</a>
      <a href="{{url_for('add_data', num=5)}}" class="link-box">Needle Metrology</a>
      <a href="{{url_for('add_data', num=6)}}" class="link-box">Skeleton Test</a>
      <a href="{{url_for('add_data', num=7)}}" class="link-box">Hybrid Gluing</a>
      <a href="{{url_for('add_data', num=71)}}" class="link-box">Module Encapsulation</a>
      <a href="{{url_for('add_data', num=11)}}" class="link-box">Save Module</a>
      <a href="{{url_for('add_data', num=8)}}" class="link-box">Wire Bonding</a>
      <a href="{{url_for('add_data', num=9)}}" class="link-box">Noise Test</a>
      <a href="{{url_for('add_data', num=10)}}" class="link-box">Burnin Test</a>
    </div>
  </div>

  <!-- Bootstrap JS (Optional, for interactive features like dropdowns) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>





      </div>
    </div>
  </div>
</main>
























{% endblock %}
